aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.6.0
appdirs==1.4.4
async-timeout==4.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.3
deepspeed==0.13.1
dill==0.3.6
docker-pycreds==0.4.0
filelock==3.13.1
frozenlist==1.3.3
fsspec==2023.12.2
gitdb==4.0.10
GitPython==3.1.31
hjson==3.1.0
huggingface-hub==0.17.3
idna==3.6
Jinja2==3.1.2
joblib==1.3.2
mpi4py @ file:///home/etutubalina/graph_entity_linking/repos/mpi4py
multidict==6.0.4
multiprocess==0.70.14
ninja==1.11.1.1
nltk==3.8.1
numpy==1.26.3
packaging==23.2
pandas==2.2.0
pathtools==0.1.2
psutil==5.9.8
py-cpuinfo==9.0.0
pydantic==2.6.1
pydantic_core==2.16.2
pynvml==11.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-metric-learning==2.3.0
pytz==2023.4
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
responses==0.18.0
safetensors==0.3.3
scikit-learn==1.1.1
scipy==1.8.1
sentencepiece==0.1.96
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
-e git+https://github.com/Andoree/text_kb_pretraining.git@72158cab53f19674d05c8d4c3794439e35e49a09#egg=textkb
threadpoolctl==3.1.0
tiktoken==0.3.3
tokenizers==0.13.1
torch==1.13.1
torch-cluster==1.6.1+pt113cu117
torch-geometric==2.3.1
torch-scatter==2.1.1+pt113cu117
torch-sparse==0.6.17+pt113cu117
tqdm==4.66.1
transformers==4.33.2
typing_extensions @ file:///croot/typing_extensions_1690297465030/work
tzdata==2023.4
urllib3==2.2.0
xxhash==3.2.0
yarl==1.8.2
